@using EPiServer.Web.Mvc.Html
@model TestSite.Models.StandardPage

<!DOCTYPE html>
<html lang="@(Model.Language)">
<body>
<h1>@Html.PropertyFor(x => x.Name)</h1>
@if (Model.ContentArea != null)
{
    <h2>Fragments count = @Model.ContentArea.Count</h2>
    @Html.PropertyFor(x => x.ContentArea)
}
<div id="html">
    @Html.PropertyFor(x => x.Html)
</div>
<div id="image">
    @Html.PropertyFor(x => x.Image)
</div>
</body>
</html>
