@using AlloyTemplates
@model PageViewModel<AlloyTemplates.Models.Pages.StartPage>

@Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row equal-height", tag = Global.ContentAreaTags.FullWidth })

<div>ContentArea FilteredItems</div>
@Html.Raw(Model.CurrentPage.ConcatenateFilteredItems())
<br />
<br />
<div>ContentArea Items</div>
@Html.Raw(Model.CurrentPage.ConcatenateItems())
<br />
<br />
<div>GetChildren&lt;IContent&gt;(ContentLink)</div>
@Html.Raw(Model.CurrentPage.ConcatenateChildren())
<br />
<br />
<div>GetChildren&lt;ProductPage&gt;(ContentLink)</div>
@Html.Raw(Model.CurrentPage.GetChildProducts())
<br />
<br />
<div>Get&lt;IContent&gt;(new ContentReference("5")) - AlloyPlan</div>
@Html.Raw(Model.CurrentPage.GetAlloyPlanProduct())
<br />
<br />
<div>GetChildrenWithReviews&lt;IContent&gt;(ContentLink)</div>
@Html.Raw(Model.CurrentPage.ConcatenateChildrenWithReviews())
<br />
<br />
<div>Url.ContentUrl(Model.CurrentPage.LinkURL)</div>
<a href="@Url.ContentUrl(Model.CurrentPage.LinkURL)">Link (should be project specific)</a>
